
.date, .time{
    font-size: large;
}

.dateTimeTitles{
    font-weight: bold;
    padding-top: 30%;
}


.content {
   background-color: bisque; 
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   height: 100%;
}
